#background{
    height: 725px;
    background-color: #d9c2a3;
    grid-row: 4/9;
    grid-column: 1/11;
    z-index: -1;
    
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  auto auto auto auto auto auto auto auto auto auto;
}
body {
    background-color: #fcfbfb; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.home-title{
    margin-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }
  h2 {
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:rgba(20,30,13, .7);
}
.class, .home-title{
    color: #fff;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#about {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#about-msg h4 {
    color: white;
}
#about {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#about-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-shadow: 2px 2px 5px #000000; 
}
#about-box {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}
#about-img{
    opacity: 0.5;
    width: 100%;
}
nav a:hover {
    background-color: black;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
} 
.logo {
    width: 80px;
    text-align: left;
    padding-top: 5px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}    
footer p {
    font-size: 1.2em;
    color:#fff;
} 
footer p a:hover {
    text-decoration: underline;
}
footer p a{
    text-decoration: none;
    color:#fff;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
.book, .join{
    background-color:#d9c2a3;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #927d61;
    text-decoration: underline;
}
.msg{
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    background-color: rgba(20,30,13, .7);
    color:#fff
}
footer{
    margin-top: 200px;
    padding: 25px 50px;
    background-color: rgba(20,30,13, .7);
    display: flex;
    justify-content: space-around;
    align-items: center;
}