:root {
        --bg-color: pink;
        --primary-font-color: #000;
        --secondary-font-color: #fff;
}

body {
	    background-color: var(--bg-color);
}

main {
        max-width: 500px;
        margin: 0 auto;
}

h1 {
        color: var(--secondary-font-color);
        text-align: center;
}

h1:hover {
	    color: var(--primary-font-color);
}

img {
	    max-width: 100%;
}

blockquote {
        color: var(--secondary-font-color);
        text-align: center;
}

ol {
	    font-weight: bold;
}

.huge-font {
	    font-size: 34px;
}

#copyright {
	    text-align: center;
}

#copyright p {
        margin-top: 0;
        margin-bottom: 0;
}